/*
 *= require transitions
 *= require blueimp-gallery-all
 *= require magnific-popup
 *= require styles
 *= require nprogress
 *= require nprogress-bootstrap
 *= require dropzone/dropzone
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */

main {
  margin-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}

.Collage {
  padding:10px;

  img {
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;
    border:6px solid #FFF;
  }
}

.Image_Wrapper {
  opacity:0;
  -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.Caption {
  font-size:14px;
  font-weight:normal;
  font-family:arial;
  top: -82px !important;
}

.Caption_Content {
  color:#FFF;
  padding-top: 20px;
  padding-right: 7px;
  padding-bottom: 20px;
  padding-left: 7px;
}
